@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .cardClass {
    @apply flex flex-col w-40 md:w-48 h-auto place-content-center justify-self-center items-center gap-2 ring-2 ring-sky-500 rounded-md shadow-md shadow-[#121212] my-2 text-xs text-gray-200 font-josefim bg-[#121212] hover:bg-[#262626] hover:border-2 hover:border-sky-500 hover:ring-2 active:absolute active:w-96 active:text-lg active:bg-[#121212] active:top-10
  }
}
